# macOS system files
.DS_Store

# Node.js dependencies
node_modules

# Production build output
/dist

# Local environment files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Visual Studio Code and IDEA project files
.idea
.vscode

# Editor-specific files
*.suo
*.ntvs*
*.njsproj
*.sln

# Compiled output
/out
/cache
/artifacts
/cache_hardhat

# Typechain files
typechain
typechain-types

# Hardhat files
/hardhat.config.ts
/.hardhat/

# Test coverage reports
/coverage
/coverage.json

# Ignore development broadcast logs (optional)
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Documentation files (optional)
/docs
